[Unit]
Description=tunnels.pro Gateway Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=tunnels
Group=tunnels
WorkingDirectory=/home/tunnels/
ExecStart=/usr/local/bin/tunnels server \
    --db-dir /home/tunnels/.tunnels \
    --cert-dir /home/tunnels/.tunnels/certs \
    --acme-email your@email.com \
    --accept-ca-terms

[Install]
WantedBy=multi-user.target
