[Unit]
Description=tunnels.pro client
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=tunnels
Group=tunnels
WorkingDirectory=/home/tunnels/
ExecStart=/usr/local/bin/tunnels client \
    --server gateway.tunnels.pro \
    --token YOUR_TOKEN \
    --client-name YOUR_CLIENT \
    --user admin

[Install]
WantedBy=multi-user.target